<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class="social-btn"><%= link_to "Button text", "https://www.linkedin.com/in/jamal-warren-96b291a3?trk=hp-identity-name", class: "social-btn" %></button>
